-
    const itemsCustomer = [
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/more-about-doctor-image.png'
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/more-about-doctor-image.png'
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/more-about-doctor-image.png'
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/more-about-doctor-image.png'
        }
    ]

section.team
    .team__wrapper.container
        .team__title Команда опытных специалистов
        +slider(itemsCustomer)
