-
    const itemsCustomer = [
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/more-about-doctor-image.png',
            imageForMobile: 'img/doctor.png',
            modalInfo: {
                "title": "Пырков <br>Сергей Трофимович",
                "subtitle": "Стоматолог общей практики",
                "description": "Кандидат медицинских наук, директор клиники, стоматолог-универсал, новатор. Выпускник Академии Прогрессивной Стоматологии им.Доусона (США, Флорида).<br><br>Открыл частную стоматологическую клинику в 1993 году. В 1994 году победил на конкурсе и стал лучшим терапевтом-стоматологом в Свердловской области. Одним из первых в стране начал проводить лечение зубов  с использованием коффердама, создал в клинике кабинет профессиональной гигиены, стал проводить все этапы лечения под микроскопом.",
                "photo": "",
                "certificates": [{
                    src: "img/certificate-big-2.png",
                    fancy: "img/certificate-big-2-fancy.png"
                }, {
                    src: "img/certificate-big-2.png",
                    fancy: "img/certificate-big-2-fancy.png"
                }, {
                    src: "img/certificate-big-2.png",
                    fancy: "img/certificate-big-2-fancy.png"
                }]
            }
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/more-about-doctor-image.png',
            modalInfo: {
                "title": "Пыркdsdsdов <br>Сергей Трофимович",
                "subtitle": "Стоматолог общей практики",
                "description": "Кандидат медицинских наук, директор клиники, стоматолог-универсал, новатор. Выпускник Академии Прогрессивной Стоматологии им.Доусона (США, Флорида).<br><br>Открыл частную стоматологическую клинику в 1993 году. В 1994 году победил на конкурсе и стал лучшим терапевтом-стоматологом в Свердловской области. Одним из первых в стране начал проводить лечение зубов  с использованием коффердама, создал в клинике кабинет профессиональной гигиены, стал проводить все этапы лечения под микроскопом.",
                "photo": "img/more-about-doctor-image.png",
                "certificates": [{
                    src: "img/certificate-big-2.png",
                    fancy: "img/certificate-big-2-fancy.png"
                }]
            }
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/more-about-doctor-image.png',
            modalInfo: {
                "title": 'Приветствую'
            }
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/more-about-doctor-image.png'
        }
    ]

section.team
    .team__wrapper.container
        .team__title Команда опытных специалистов
        +slider(itemsCustomer)
