-
    const items = [
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/doctor.png'
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/doctor.png'
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/doctor.png'
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/doctor.png'
        }
    ]

section.team
    .team__wrapper.container
        +slider(items)
