$breakpoints: (
  xs: 320px,
  md: 768px,
  lg: 1100px
);

@mixin below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint #{$breakpoint}.";
  }
}

@mixin above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint #{$breakpoint}.";
  }
}

@mixin fontTTDrugs60() {
  font-family: 'TT Drigs Trial', sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

@mixin fontTTDrugs48() {
  font-family: 'TT Drigs Trial', sans-serif;
  font-size: 48px;
  line-height: 57px;
  font-weight: 700;
}

@mixin fontTTDrugs46() {
  font-family: 'TT Drigs Trial', sans-serif;
  font-size: 46px;
  line-height: 46px;
  font-weight: 700;
}

@mixin fontTTDrugs38() {
  font-family: 'TT Drigs Trial', sans-serif;
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
}

@mixin fontTTDrugs34() {
  font-family: 'TT Drigs Trial', sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}

@mixin fontTTDrugs28() {
  font-family: 'TT Drigs Trial', sans-serif;
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
}

@mixin fontTTDrugs24() {
  font-family: 'TT Drigs Trial', sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

@mixin fontTTDrugs20() {
  font-family: 'TT Drigs Trial', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

@mixin fontTTDrugs18() {
  font-family: 'TT Drigs Trial', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}

@mixin fontMontserrat60() {
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  line-height: 73px;
  font-weight: 700;
}

@mixin fontMontserrat48() {
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

@mixin fontMontserrat34() {
  font-family: Montserrat, sans-serif;
  font-size: 34px;
  line-height: 42px;
  font-weight: 700;
}

@mixin fontMontserrat24() {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

@mixin fontMontserrat20() {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

@mixin fontMontserrat18() {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 500;
}

@mixin fontMontserrat16() {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

@mixin fontMontserrat15() {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

@mixin fontMontserrat14() {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

@mixin fontMontserrat13() {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 15.6px;
  font-weight: 500;
}

@mixin fontMontserrat12() {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

@mixin fontMontserrat10() {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
}
