mixin checkbox()
    label.checkbox&attributes(attributes)
        input.checkbox__input.required(type='checkbox', data-input="policy")
        .checkbox__custom-input
        .checkbox__label
            block
