-
    const servicesBreadcrumbs = [
        {
            name: 'Главная',
            link: '/'
        },
        {
            name: 'Услуги',
            active: true
        }
    ]

section.services-banner
    .services-banner__header
        .container
            +breadcrumbs(servicesBreadcrumbs)
    .services-banner__body.container
        .services-banner__title Профессиональная стоматология для вашего здоровья
        .services-banner__subtitle Медицинские услуги стоматологии: Качество, Забота, Уверенность
        +button('button', 'Записаться на прием', 'light', 'callback')(class='services-banner__button')
