-
    const servicesBreadcrumbs = [
        {
            name: 'Главная',
            link: '/'
        },
        {
            name: 'Услуги',
            active: true
        }
    ]

section.services-banner
    .services-banner__header
        .container
            +breadcrumbs(servicesBreadcrumbs)
    .services-banner__body.container
        .services-banner__title Профессиональная стоматология для вашего здоровья
        .services-banner__subtitle Медицинские услуги стоматологии: Качество, Забота, Уверенность
        +button({
            text: 'Записаться на прием',
            tag: 'button',
            theme: 'light',
            modal: 'callback'
        }).services-banner__button
