.services-banner {
  padding-top: 218px;
  background-image: url('../img/services-banner-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $dirtyWhite;
  height: 100svh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @include below(lg) {
    padding-top: 118px;
    min-height: 558px;

    @media screen and (min-height: 726px){
      min-height: 558px;
      height: auto;
    }
  }

  @include below(md) {
    height: 100svh;
  }

  &__header {
    margin-bottom: auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 138px;
    margin-bottom: auto;
    margin-top: 30px;

    @include below(lg) {
      padding-bottom: 80px;
    }

    @include below(md) {
      padding-bottom: 89px;
      height: 100%;
    }
  }

  &__title {
    @include fontTTDrugs46;

    text-align: center;
    max-width: 825px;

    @include below(lg) {
      @include fontTTDrugs38;

      line-height: 38px;
    }

    @include below(md) {
      @include fontTTDrugs28;

      line-height: 30.8px;
      margin-top: auto;
    }
  }

  &__subtitle {
    @include fontMontserrat24;

    margin-top: 18px;
    max-width: 1015px;

    @include below(lg) {
      @include fontMontserrat20;

      max-width: 388px;
      margin-top: 24px;
      text-align: center;
    }

    @include below(md) {
      @include fontMontserrat16;

      margin-top: 35px;
    }
  }

  &__button {
    margin-top: 77px;
    height: 54px;

    @include below(lg) {
      margin-top: 50px;
      height: 50px;
    }

    @include below(md) {
      @include fontMontserrat14;

      margin-top: auto;
    }
  }
}
