section.not-found
    .not-found__wrapper.container
        .not-found__title 404
        .not-found__subtitle Ошибка! Страница не найдена
        +button({
            text: 'Вернуться на главную',
            tag: 'a',
            theme: 'light',
            link: '/'
        }).not-found__button
