-
    const prices = [
        {
            title: 'Профилактика',
            active: true,
            prices: [
                {
                    name: `Первичная гигиеническая чистка (Удаление налета, зубного камня, полирование и
                        фторирование эмали, подбор средств гигиены для домашнего ухода за полостью рта)`,
                    price: '2000 руб.'
                },
                {
                    name: 'Определение пародонтологического статуса',
                    price: '2000 руб.'
                },
                {
                    name: 'Определение пародонтологического статуса',
                    price: '2000 руб.'
                }
            ]
        },
        {
            title: 'Профилактика',
            active: false,
            prices: [
                {
                    name: `Первичная гигиеническая чистка (Удаление налета, зубного камня, полирование и фторирование
                         эмали, подбор средств гигиены для домашнего ухода за полостью рта)`,
                    price: '2000 руб.'
                },
                {
                    name: 'Определение пародонтологического статуса',
                    price: '2000 руб.'
                },
                {
                    name: 'Определение пародонтологического статуса',
                    price: '2000 руб.'
                }
            ]
        },
        {
            title: 'Профилактика',
            active: false,
            prices: [
                {
                    name: 'Определение пародонтологического статуса',
                    price: '2000 руб.'
                },
                {
                    name: 'Определение пародонтологического статуса',
                    price: '2000 руб.'
                },
                {
                    name: 'Определение пародонтологического статуса',
                    price: '2000 руб.'
                }
            ]
        }
    ]

section.price-prices
    .price-prices__container
        .container
            +prices(prices)

    .price-prices__container
        .container
            +title('Ценообразования в клинике').price-prices__title
            +description({
                text: `Ценовая политика основана на честности и прозрачности, чтобы вы
                       чувствовали себя уверенно на каждом этапе лечения. <br/> <br/> Узнайте подробности
                       о стоимости наших услуг, обращаясь к нашему администратору или ознакомившись с прайс-листом
                       на нашем сайте.`,
                buttonText: 'Записаться на прием',
                buttonModal: 'callback'
            })

    .price-prices__container
        .container
            .price-prices-variants
                .price-prices-variants__item
                    .price-prices-variants__icon
                        img(src='img/svg/crown.svg')
                    .price-prices-variants__title Все Включено
                    .price-prices-variants__description
                        | Мы не взимаем дополнительные платы за рентгеновские снимки, анестезию, наложение и снятие
                        | швов, снятие слепков и другие манипуляции во время лечения. Все это уже
                        | включено в стоимость услуг.
                .price-prices-variants__item
                    .price-prices-variants__icon
                        img(src='img/svg/refresh.svg')
                    .price-prices-variants__title Гибкая Оплата
                    .price-prices-variants__description
                        | Вы можете оплачивать лечение поэтапно, при этом цены, указанные в плане лечения,
                        | остаются неизменными на протяжении всего срока его действия. При полной единовременной
                        | оплате плана лечения вы получаете скидку 5%.
                .price-prices-variants__item
                    .price-prices-variants__icon
                        img(src='img/svg/card.svg')
                    .price-prices-variants__title Удобные варианты оплаты
                    .price-prices-variants__description
                        | Мы предлагаем различные способы оплаты, включая наличные, пластиковые карты
                        | и безналичные переводы.

