mixin description(options)
    .description(class=[options.buttonText?'description--with-button':'', options.view?`description--view-${options.view}`:''])&attributes(attributes)
        .description__text!= options.text
        if options.buttonText
            +button({
              text: options.buttonText,
              modal: options.buttonModal,
              tag: options.tag,
              link: options.link
            }).description__button
