.header {
  @include fontMontserrat15;
  $self: &;

  color: $dirtyWhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;

  &__container {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $deepBlack;
      opacity: 0.5;
    }

    &--navigation {
      &::before {
        background-color: transparent;
        opacity: 1;
      }
    }
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    z-index: 1;
  }

  &__list-item {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:not(:last-child):not(:first-child) {
      margin: 0 10px;
    }

    &:last-child {
      margin-left: 10px;
    }

    &:first-child {
      margin-right: 10px;
    }
  }

  &__list-icon {
    margin-right: 9px;
    width: 20px;
    height: 20px;
    fill: $dirtyWhite;
  }

  &__navigation {
    @include fontMontserrat15;

    display: flex;
    justify-content: center;
    padding: 64px 0;
  }

  &__navigation-list {
    display: flex;
    list-style: none;
    gap: 0 78px;
  }

  &__navigation-item {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;

    &::after {
      display: none;
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $dirtyWhite;
      margin-left: 8px;
    }

    &:hover {
      #{$self}__navigation-submenu {
        top: 0;
        opacity: 1;
        pointer-events: all;
      }

      &::after {
        transform: scale(1, -1);
      }
    }

    &--with-list {
      &::after {
        display: block;
      }
    }
  }

  &__navigation-submenu {
    opacity: 0;
    position: absolute;
    top: -10px;
    padding-top: 40px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    transition: top 200ms, opacity 200ms;
  }

  &__navigation-submenu-wrapper {
    position: relative;
    list-style: none;
    color: $deepBlack;
    background-color: $dirtyWhite;
    padding: 6px 12px 12px;


    &::before {
      position: absolute;
      content: '';
      top: -7px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid $dirtyWhite;
    }
  }

  &__navigation-subname {
    @include fontMontserrat14;

    border-bottom: 2px solid $blue;
  }

  &__navigation-sublink {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  &.open-modal {
    #{$self}__container {
      margin-right: 17px;
    }
  }

  &__logo {
    display: none;
    fill: $deepBlack;
    width: 177px;
    height: 30px;
  }

  &__button {
    @include fontMontserrat14;

    display: none;
    line-height: 14px;
    max-width: 222px;
  }

  &--fixed {
    animation: headerSlideDown 200ms;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    #{$self}__container {
      border-bottom: 1.5px solid $blue;

      &::before {
        background-color: $dirtyWhite;
        opacity: 1;
      }

      &--navigation {
        border-bottom: none;

        &::before {
          background-color: $dirtyWhite;
        }
      }
    }

    #{$self}__list {
      padding: 20px 0;
      color: $blue;
    }

    #{$self}__navigation {
      padding: 20px 0 25px;
      color: $deepBlack;
      justify-content: space-between;
      align-items: center;
    }

    #{$self}__navigation-list {
      gap: 0 59px;
    }

    #{$self}__navigation-item {
      &--with-list {
        &::after {
          border-top-color: $deepBlack;
        }
      }
    }

    #{$self}__navigation-submenu {
      padding-top: 70px;
    }

    #{$self}__logo {
      z-index: 1;
      display: inline-flex;
    }

    #{$self}__button {
      z-index: 1;
      display: inline-flex
    }

    #{$self}__list-icon {
      fill: $blue;
    }
  }

  @keyframes headerSlideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}
