.services {
  $self: &;

  font-family: 'TT Drigs Trial', sans-serif;
  font-weight: 700;
  margin-top: 106px;

  @include below(lg) {
    margin-top: 72px;
  }

  @include below(md) {
    margin-top: 86px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 18px;

    @include below(lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 28px 13px;
    }

    @include below(md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 34px 11px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: initial;

    &--title {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      font-size: 46px;
      line-height: 69px;
      padding-right: 32px;
      cursor: default;

      @include below(lg) {
        @include fontTTDrugs38;
      }

      @include below(md) {
        @include fontTTDrugs28;

        grid-column: 1 / span 2;
        justify-content: flex-start;
        margin-left: 25px;
        margin-bottom: 16px;
      }
    }

    &.active {
      #{$self}__image {
        display: none;

        &--hover {
          display: flex;
        }
      }

      #{$self}__name {
        color: $blue;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    height: 232px;

    @include below(lg) {
      height: 158px;
    }

    @include below(md) {
      height: 150px;
    }

    img {
      width: 100%;
      object-fit: contain;
    }

    &--hover {
      display: none;
    }
  }

  &__name {
    font-size: 24px;
    line-height: 36px;
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    padding: 14px;
    text-align: center;

    @include below(lg) {
      @include fontTTDrugs20;
    }

    @include below(md) {
      @include fontTTDrugs18;
    }
  }
}
