$count-in-row: 4;
$gap-x: 18px;
$gap-y: 32px;

.services {
  $self: &;

  font-family: 'TT Drigs Trial', sans-serif;
  font-weight: 700;
  margin-top: 106px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-y $gap-x;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(100% / $count-in-row - $gap-x);
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: initial;

    &--title {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      font-size: 46px;
      line-height: 69px;
      padding-right: 32px;
      cursor: default;
    }

    &.active {
      #{$self}__image {
        display: none;

        &--hover {
          display: flex;
        }
      }

      #{$self}__name {
        color: $blue;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    height: 100%;
    max-height: 232px;

    img {
      width: 100%;
      object-fit: contain;
    }

    &--hover {
      display: none;
    }
  }

  &__name {
    font-size: 24px;
    line-height: 36px;
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    padding: 14px;
    text-align: center;
  }
}
