-
    const services = {
        title: 'Услуги',
        items: [
            {
                name: 'Диагностика',
                image: 'img/services.png',
                href: 'service.html'
            },
            {
                name: 'Диагностика',
                image: 'img/services.png',
                href: 'service.html'
            },
            {
                name: 'Диагностика',
                image: 'img/services.png',
                href: 'service.html'
            },
            {
                name: 'Диагностика',
                image: 'img/services.png',
                href: 'service.html'
            },
            {
                name: 'Диагностика',
                image: 'img/services.png',
                href: 'service.html'
            },
            {
                name: 'Диагностика',
                image: 'img/services.png',
                href: 'service.html'
            },
            {
                name: 'Диагностика',
                image: 'img/services.png',
                href: 'service.html'
            }
        ]
    }

section.services.container
    .services__wrapper
        .services__item.services__item--title= services.title
        each service in services.items
            a.services__item(data-service, href=service.href)
                .services__image
                    img(src=service.image)
                .services__name= service.name

