.slider {
  $self: &;
  overflow: visible !important;

  @include below(lg) {
    padding-bottom: 66px !important;
  }

  @include below(md) {
    padding-bottom: 53px !important;
  }

  & &__item {
    &-wrapper {
      display: flex;
      overflow: hidden;
      height: 436px;
      transition: 500ms;
      opacity: 0;
      transform: scale(0.725);
      transform-origin: top left;

      @include below(lg) {
        transform: scale(1);
        opacity: 1;
      }

      @include below(md) {
        flex-direction: column;
        height: auto;
      }
    }

    &-image {
      width: 50.5%;

      @include below(lg) {
        width: 347px;
      }

      @include below(md) {
        width: 100%;
        height: 280px;
      }

      img {
        width: calc(100% + 1px);
        height: calc(100% + 1px);
        object-fit: cover;
        object-position: top;

        @include below(md) {
          object-position: center;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      padding: 25px 25px 40px;
      background-image: url('../img/slider-bg.png');
      background-size: 101% 100%;
      background-repeat: no-repeat;
      background-position: -2px;
      background-color: $white;
    }

    &-info {
      margin-top: auto;
      margin-bottom: auto;
      color: $deepBlack;
    }

    &-title {
      @include fontTTDrugs24;

      @include below(lg) {
        @include fontTTDrugs20;

        line-height: 24px;
      }

      @include below(lg) {
        @include fontTTDrugs18;

        line-height: 21.6px;
      }
    }

    &-description {
      @include fontMontserrat14;

      margin-top: 16px;

      @include below(lg) {
        @include fontMontserrat13;

        line-height: 17px;
        margin-top: 14px;
      }

      @include below(md) {
        @include fontMontserrat12;

        line-height: 15.72px;
        margin-top: 9px;
      }
    }

    &.swiper-slide-active,
    &.swiper-slide-prev {
      #{$self}__item-wrapper {
        transform: scale(1);
      }
    }

    &.swiper-slide-active,
    &.swiper-slide-next {
      #{$self}__item-wrapper {
        opacity: 1;
      }
    }
  }

  & &__navigation {
    position: absolute;
    bottom: 15%;
    right: 0;
    display: flex;
    user-select: none;
    z-index: 1;
    column-gap: 10px;

    @include below(lg) {
      bottom: 0;
    }
  }

  & &__button {
    margin-top: 26px;
    max-width: 132px;

    @include fontMontserrat12;
  }

  & &__arrow {
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include below(md) {
      width: 28px;
      height: 28px;
    }

    &-icon {
      width: 100%;
      height: 100%;
      background-image: url('../img/svg/arrow-slider.svg');
      background-size: cover;
    }

    &-next {
      transform: rotate(180deg);
    }

    &:hover {
      #{$self}__arrow-icon {
        background-image: url('../img/svg/arrow-slider-hover.svg');
      }
    }
  }

  &--lightblue {
    & #{$self}__arrow {

      &-icon {
        background-image: url('../img/svg/arrow-slider-lightblue.svg');
      }

      &:hover {
        #{$self}__arrow-icon {
          background-image: url('../img/svg/arrow-slider-lightblue-hover.svg');
        }
      }
    }

    #{$self}__item {
      &-content {
        background-image: url('../img/slider-lightblue-bg.png');
      }
    }
  }

  &--vertical {
    & #{$self}__item-wrapper {
      flex-direction: column;
    }

    & #{$self}__item-image {
      width: 100%;
      height: 272px;

      @include below(lg) {
        width: 100%;
      }

      @include below(md) {
        width: 100%;
      }
    }

    & #{$self}__item-description {
      @include fontMontserrat14;

      line-height: 15px;
      max-width: 410px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      line-clamp: 4;
      box-orient: vertical;
      margin-top: 20px;

      @include below(lg) {
        @include fontMontserrat13;

        line-height: 16px;
        max-width: 309px;
        margin-top: 14px;
      }

      @include below(md) {
        @include fontMontserrat12;

        margin-top: 9px;
        line-height: 13.2px;
      }
    }

    & #{$self}__item-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 25px;

      @include below(md) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    & #{$self}__button {
      @include below(md) {
        margin-top: 26px;
      }
    }
  }
}
