.services-team {
  background-image: url('../img/team-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 175px;

  @include below(md) {
    padding: 63px 0 55px;
  }

  &__title {
    margin-left: 73px;
    margin-bottom: 40px;

    @include below(lg) {
      margin-left: 30px;
    }

    @include below(md) {
      margin-left: 23px;
    }
  }
}
