.button {
  @include fontMontserrat16;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  max-width: 295px;
  width: 100%;
  background-color: $blue;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1;
  color: $dirtyWhite;
  border: none;

  &__transparent {
    border: 2px solid $dirtyWhite;
    background-color: transparent;
  }

  &__transparent-dark {
    border: 2px solid $deepBlack;
    background-color: transparent;
    color: $deepBlack;
  }

  &__light {
    background-color: $dirtyWhite;
    color: $deepBlack;
  }
}
