.button {
  @include fontMontserrat16;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  max-width: 295px;
  width: 100%;
  background-color: $blue;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1;
  color: $dirtyWhite;
  border: none;
  height: 54px;

  @include below(lg) {
    @include fontMontserrat14;

    line-height: 14px;
    height: 50px;
  }

  &:hover {
    @include above(lg) {
      background-color: $deepBlack;
      color: $dirtyWhite;
      border: none;
    }
  }

  &--small {
    height: 44px;

    @include below(lg) {
      height: 44px;
    }

    @include below(lg) {
      height: 31px;
    }
  }

  &--light {
    background-color: $white;
    color: $deepBlack;

    &:hover {
      @include above(lg) {
        background-color: $deepBlack;
        color: $dirtyWhite;
        border: none;
      }
    }
  }

  &--transparent {
    border: 2px solid $dirtyWhite;
    background-color: transparent;

    &:hover {
      @include above(lg) {
        background-color: $deepBlack;
        color: $dirtyWhite;
        border: none;
      }
    }
  }

  &__transparent-dark {
    border: 2px solid $deepBlack;
    background-color: transparent;
    color: $deepBlack;
  }
}
