-
    const items = [
        {
            title: 'Иванова Ольга',
            description: 'Считаю стоматологическую клинику "Биодент" самой лучшей. читаю стоматологическую клинику "Биодент" самой лучшей. читаю стоматологическую клинику "Биодент" самой лучшей. Рекомендую всем, кто хочет не нажить новых проблем, а решить имеющиеся качественно и надолго - обращаться в стоматологическую клинику "Биодент" - это клиника, которой можно доверить свое здоровье!',
            image: 'img/doctor.png'
        },
        {
            title: 'Иванова Ольга',
            description: 'Считаю стоматологическую клинику "Биодент" самой лучшей. Рекомендую всем, кто хочет не нажить новых проблем, а решить имеющиеся качественно и надолго - обращаться в стоматологическую клинику "Биодент" - это клиника, которой можно доверить свое здоровье!',
            image: 'img/doctor.png'
        },
        {
            title: 'Иванова Ольга',
            description: 'Считаю стоматологическую клинику "Биодент" самой лучшей. Рекомендую всем, кто хочет не нажить новых проблем, а решить имеющиеся качественно и надолго - обращаться в стоматологическую клинику "Биодент" - это клиника, которой можно доверить свое здоровье!',
            image: 'img/doctor.png'
        },
        {
            title: 'Иванова Ольга',
            description: 'Считаю стоматологическую клинику "Биодент" самой лучшей. Рекомендую всем, кто хочет не нажить новых проблем, а решить имеющиеся качественно и надолго - обращаться в стоматологическую клинику "Биодент" - это клиника, которой можно доверить свое здоровье!',
            image: 'img/doctor.png'
        },
        {
            title: 'Иванова Ольга',
            description: 'Считаю стоматологическую клинику "Биодент" самой лучшей. Рекомендую всем, кто хочет не нажить новых проблем, а решить имеющиеся качественно и надолго - обращаться в стоматологическую клинику "Биодент" - это клиника, которой можно доверить свое здоровье!',
            image: 'img/doctor.png'
        }
    ]

section.customer
    .customer__wrapper.container
        .customer__title Именитые пациенты клиники
        +slider(items, 'lightblue', true)
