-
    const items = [
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/doctor.png'
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/doctor.png'
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/doctor.png'
        },
        {
            title: 'Пырков<br> Сергей Трофимович',
            description: 'Стоматолог общей практики',
            image: 'img/doctor.png'
        }
    ]

section.customer
    .customer__wrapper.container
        .customer__title Именитые пациенты клиники
        +slider(items)
