-
    const ratings = [
        {
            logo: 'img/sprites/sprite.svg#2gis',
            score: '4,9',
            link: '/',
            stars: 4
        },
        {
            logo: 'img/sprites/sprite.svg#yandex-map',
            score: '5,0',
            link: '/',
            stars: 5
        },
        {
            logo: 'img/sprites/sprite.svg#google-maps',
            score: '4,9',
            link: '/',
            stars: 4
        }
    ]

section.rating
    .container
        .rating__title Профессиональная стоматология
        .rating__subtitle Ежедневно получаем положительные отзывы от клиентов
        .rating__wrapper
            each rating in ratings
                a(href=rating.link).rating__item
                    .rating__logo
                        svg
                            use(href=rating.logo)
                    .rating__score= rating.score
                    .rating__stars(data-stars=rating.stars)
                        .rating__star
                            svg
                                use(href="img/sprites/sprite.svg#star")
                        .rating__star
                            svg
                                use(href="img/sprites/sprite.svg#star")
                        .rating__star
                            svg
                                use(href="img/sprites/sprite.svg#star")
                        .rating__star
                            svg
                                use(href="img/sprites/sprite.svg#star")
                        .rating__star
                            svg
                                use(href="img/sprites/sprite.svg#star")
