.rating {
  $self: &;

  margin-top: 160px;
  color: $dirtyWhite;

  @include below(lg) {
    margin-top: 100px;
  }

  @include below(md) {
    margin-top: 86px;
  }

  &__title {
    @include fontTTDrugs46;

    line-height: 55px;
    margin-left: 77px;

    @include below(lg) {
      @include fontTTDrugs38;

      margin-left: 29px;
    }

    @include below(md) {
      @include fontTTDrugs28;

      line-height: 30.8px;
      margin-left: 25px;
    }
  }

  &__subtitle {
    @include fontMontserrat16;

    font-weight: 400;
    margin-top: 14px;
    margin-left: 77px;

    @include below(lg) {
      @include fontMontserrat15;

      margin-left: 25px;
    }

    @include below(md) {
      @include fontMontserrat12;

      max-width: 250px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 90px;
    margin-top: 40px;
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;

    @include below(lg) {
      padding: 21px 0 56px;
    }

    @include below(md) {
      margin-top: 36px;
      padding: 38px 0;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 54px 50px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-child {
      @include below(md) {
        grid-column: 1 / span 2;
      }
    }

    &:hover {
      color: $blue;

      #{$self}__logo {
        fill: $blue;
      }

      #{$self}__star {
        stroke: $blue;

        &.active {
          fill: $blue;

          ~ div {
            fill: $blue;
          }
        }
      }
    }
  }

  &__logo {
    height: 20px;
    width: 100%;
    fill: $white;

    @include below(lg) {
      height: 18px;
    }

    @include below(md) {
      height: 16px;
    }
  }

  &__score {
    @include fontMontserrat60;

    margin-top: 26px;
    margin-bottom: 40px;

    @include below(lg) {
      @include fontMontserrat48;

      margin-top: 33px;
      margin-bottom: 37px;
    }

    @include below(md) {
      @include fontMontserrat34;

      margin-top: 19px;
      margin-bottom: 34px;
    }
  }

  &__stars {
    display: flex;
    flex-direction: row-reverse;
    gap: 0 10px;
  }

  &__star {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: $white;

    @include below(lg) {
      width: 19px;
      height: 19px;
    }

    @include below(md) {
      width: 16px;
      height: 16px;
    }

    &.active {
      fill: $dirtyWhite;

      ~ div {
        fill: $dirtyWhite
      }
    }
  }
}
