extends ../layouts/default
include ../../blocks/components/components

block variables
    include ../helpers/data
    - const title = "Страница не найдена | Биодент";

block content
    +header(headerLists, headerNavigation)
    include ../../blocks/modules/not-found/not-found
    include ../../blocks/modules/callback/callback
    include ../../blocks/modules/footer/footer

block scripts
    script(src="js/vendor.js")
    script(src="js/main.js")
