extends ../layouts/default
include ../../blocks/components/components

block variables
    include ../helpers/data
    - const title = "Контакты | Биодент";

block content
    +header(headerLists, headerNavigation)
    include ../../blocks/modules/contacts-banner/contacts-banner
    include ../../blocks/modules/callback/callback
    include ../../blocks/modules/footer/footer

block scripts
    script(src="js/vendor.js")
    script(src="js/main.js")
