extends ../layouts/default
include ../../blocks/components/components

block variables
    include ../helpers/data
    - const title = "Цены | Биодент";

block content
    +header(headerLists, headerNavigation)
    include ../../blocks/modules/price-banner/price-banner
    include ../../blocks/modules/price-prices/price-prices
    include ../../blocks/modules/callback/callback
    include ../../blocks/modules/footer/footer

block scripts
    script(src="js/vendor.js")
    script(src="js/main.js")
