extends ../layouts/default
include ../../blocks/components/components

block variables
    - const title = "Услуги | Биодент";

block content
    +header([
        {
            text: 'Екатеринбург, Крауля, 68'
        },
        {
            text: 'пн | ср | пт - с 9:00 до 18:00'
        },
        {
            text: 'вт | чт - с 9:00 до 20:00'
        },
        {
            phone: true,
            text: '+7 (343) 237-26-06',
            icon: 'img/sprites/sprite.svg#phone'
        },
        {
            phone: true,
            text: '+7 (982) 761-59-61',
            icon: 'img/sprites/sprite.svg#whatsapp'
        }
    ], [
        {
            name: 'Главная',
            link: '/'
        },
        {
            name: 'Услуги',
            link: 'services.html',
            nested: [
                {
                    name: 'Диагностика',
                    link: 'service.html'
                },
                {
                    name: 'Профилактика',
                    link: 'service.html'
                },
                {
                    name: 'Эстетика',
                    link: 'service.html'
                },
                {
                    name: 'Хирургия',
                    link: 'service.html'
                },
                {
                    name: 'Лечение',
                    link: 'service.html'
                },
                {
                    name: 'Протезирование',
                    link: 'service.html'
                },
                {
                    name: 'Детям',
                    link: 'service.html'
                }
            ]
        },
        {
            name: 'Прайс',
            link: 'price.html'
        },
        {
            name: 'О клинике',
            link: 'about.html'
        },
        {
            name: 'Контакты',
            link: 'contacts.html'
        }
    ])
    include ../../blocks/modules/service-banner/service-banner
    include ../../blocks/modules/service-competitions/service-competitions
    include ../../blocks/modules/service-team/service-team
    include ../../blocks/modules/callback/callback
    include ../../blocks/modules/footer/footer

block scripts
    script(src="js/vendor.js")
    script(src="js/main.js")
