extends ../layouts/default
include ../../blocks/components/components

block variables
    - const title = "Услуги | Биодент";

block content
    //include ../../blocks/modules/header/header
    include ../../blocks/modules/service-banner/service-banner
    include ../../blocks/modules/service-competitions/service-competitions
    include ../../blocks/modules/service-team/service-team
    include ../../blocks/modules/callback/callback
    include ../../blocks/modules/footer/footer

block scripts
    script(src="js/vendor.js")
    script(src="js/main.js")
