extends ../layouts/default
include ../../blocks/components/components

block variables
    include ../helpers/data
    - const title = "Услуги | Биодент";

block content
    +header(headerLists, headerNavigation)
    include ../../blocks/modules/service-banner/service-banner
    include ../../blocks/modules/service-competitions/service-competitions
    include ../../blocks/modules/service-team/service-team
    include ../../blocks/modules/callback/callback
    include ../../blocks/modules/footer/footer

block scripts
    script(src="js/vendor.js")
    script(src="js/main.js")
