-
    const certificates = [
        'img/certificate.png',
        'img/certificate.png',
        'img/certificate.png',
        'img/certificate.png',
        'img/certificate.png',
        'img/certificate.png',
        'img/certificate.png',
        'img/certificate.png',
        'img/certificate.png',
        'img/certificate.png',
        'img/certificate.png',
        'img/certificate.png',
    ]

.more-about-doctor
    .more-about-doctor__image
        img(src="img/more-about-doctor-image.png")
    .more-about-doctor__wrapper
        .more-about-doctor__info
            .more-about-doctor__title!= 'Пырков <br> Сергей Трофимович'
            .more-about-doctor__subtitle Стоматолог общей практики
            .more-about-doctor__description
                p Кандидат медицинских наук, директор клиники, стоматолог-универсал, новатор. Выпускник Академии Прогрессивной Стоматологии им.Доусона (США, Флорида).
                p Открыл частную стоматологическую клинику в 1993 году. В 1994 году победил на конкурсе и стал лучшим терапевтом-стоматологом в Свердловской области. Одним из первых в стране начал проводить лечение зубов  с использованием коффердама, создал в клинике кабинет профессиональной гигиены, стал проводить все этапы лечения под микроскопом.
                p Более 15 лет успешно занимается установкой имплантатов, делает сложные операции по наращиванию кости, проводит комплексные реабилитации. Успешно справляется даже с самыми сложными случаями, создавая улыбку вашей мечты.
                p После стажировки в Америке в 1999 году, всю работу в клинике построил по зарубежной системе - один доктор и несколько помощников ведут прием на нескольких креслах, что уникально для России.
                p Использует только самые надежные и проверенные технологии. Сформировал единственную в своем роде библиотеку книг по стоматологии в России. Сам Сергей Трофимович является инициатором и спонсором многих переводов на русский язык книг ведущих стоматологов мира.
                p Это доктор, к которому ходят целыми семьями и приводят друзей. Попав к нему на прием, Вы получите комплексное лечение в соответствии с мировыми стандартами качества.
        .more-about-doctor__certificates
            +slider-small(certificates)
