section.about
    .container
        .about__title О клинике
        .about__container
            .about__section-left
                .about__text.about__text--large
                    | Клиника Биодент - ваш надежный выбор в мире стоматологии. Современные технологии, опытные врачи и уникальная система ухода за пациентами
                +button({
                    text: 'Запись на прием',
                    modal: 'callback',
                    tag: 'button'
                }).about__button
                .about__year
                    .about__digit >30
                    .about__text.about__text--medium!= 'Лет <br> на рынке'
                    .about__text.about__text--medium!= 'работает с 1993 года под неизменным <br> руководством доктора Пыркова'
            .about__section-right
                .about__text.about__text--small Профессиональные стоматологические услуги в Екатеринбурге от клиники «Биодент». Мы обеспечиваем максимально долгосрочный результат лечения с использованием передовых технологий и индивидуального подхода.
                .about__text.about__text--small Клиника «Биодент» – место, где профессионализм встречается с заботой. С 1993 года мы предоставляем высококачественные стоматологические услуги в Екатеринбурге. Под руководством кандидата медицинских наук, доктора Сергея Пыркова, наша клиника стала одной из лучших в России.
                .about__statistics
                    .about__statistics-item
                        .about__digit 250
                        .about__text.about__text--medium Здоровых улыбок&nbsp;в&nbsp;год
                    .about__statistics-item
                        .about__digit 50
                        .about__text.about__text--medium Сертификатов и наград
                    .about__statistics-item
                        .about__digit 10
                        .about__text.about__text--medium Первоклассных специалистов
