.advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    display: flex;
    flex-direction: column;
    border: 2px solid $blue;
    padding: 35px 25px;
    flex: 1 0 200px;
    color: $white;
  }

  &__title {
    @include fontTTDrugs24;

    line-height: 24px;
  }

  &__description {
    @include fontMontserrat14;

    margin-top: 16px;
  }

  &__icon {
    display: inline-flex;
    margin-top: auto;
    padding-top: 45px;
    width: 100%;

    img {
      margin-left: auto;
    }
  }
}
