mixin slider-small(items)
    div.slider-small.swiper
        .swiper-wrapper
            each item in items
                a.slider-small__item.swiper-slide(href=item, data-fancybox='certificates')
                    img.slider-small__image(src=item)
        .slider-small__navigation
            .slider-small__arrow.slider-small__arrow-prev
                .slider-small__arrow-icon
            .slider-small__arrow.slider-small__arrow-next
                .slider-small__arrow-icon

