.policy-modal
    +title('Политика конфиденциальности').policy-modal__title
    .policy-modal__wrapper
        | Для чего нужна политика обработки персональных данных на сайте?
        | Если на вашем сайте есть любая форма сбора данных — обратной связи, подписки на рассылку, регистрации или личный кабинет, это считается обработкой персональных данных. В этом случае вы обязаны получить согласие на обработку персональных данных и разместить ссылку на вашу политику в отношении обработки персональных данных, чтобы человек мог с ней ознакомиться, согласиться и только после этого сообщить вам свои данные.
        | Создайте образец документа с помощью конструктора, при необходимости скорректируйте, разместите текст на отдельной странице сайта и в форме приема данных поставьте ссылку на эту страницу.
        | Подробнее о № 152-ФЗ «О персональных данных» читайте в статье: «Как избежать штрафов за нарушения закона о персональных данных».
        br
        br
        a(href='/') dasdasd
        | Создайте образец документа с помощью конструктора, при необходимости скорректируйте, разместите текст на отдельной странице сайта и в форме приема данных поставьте ссылку на эту страницу.
        | Подробнее о № 152-ФЗ «О персональных данных» читайте в статье: «Как избежать штрафов за нарушения закона о персональных данных».
        | Для чего нужна политика обработки персональных данных на сайте?
        | Если на вашем сайте есть любая форма сбора данных — обратной связи, подписки на рассылку, регистрации или личный кабинет, это считается обработкой персональных данных. В этом случае вы обязаны получить согласие на обработку персональных данных и разместить ссылку на вашу политику в отношении обработки персональных данных, чтобы человек мог с ней ознакомиться, согласиться и только после этого сообщить вам свои данные.
        | Создайте образец документа с помощью конструктора, при необходимости скорректируйте, разместите текст на отдельной странице сайта и в форме приема данных поставьте ссылку на эту страницу.
        | Подробнее о № 152-ФЗ «О персональных данных» читайте в статье: «Как избежать штрафов за нарушения закона о персональных данных».
        br
        br
        | Создайте образец документа с помощью конструктора, при необходимости скорректируйте, разместите текст на отдельной странице сайта и в форме приема данных поставьте ссылку на эту страницу.
        | Подробнее о № 152-ФЗ «О персональных данных» читайте в статье: «Как избежать штрафов за нарушения закона о персональных данных».
        | Для чего нужна политика обработки персональных данных на сайте?
        | Если на вашем сайте есть любая форма сбора данных — обратной связи, подписки на рассылку, регистрации или личный кабинет, это считается обработкой персональных данных. В этом случае вы обязаны получить согласие на обработку персональных данных и разместить ссылку на вашу политику в отношении обработки персональных данных, чтобы человек мог с ней ознакомиться, согласиться и только после этого сообщить вам свои данные.
        | Создайте образец документа с помощью конструктора, при необходимости скорректируйте, разместите текст на отдельной странице сайта и в форме приема данных поставьте ссылку на эту страницу.
        br
        br
        | Создайте образец документа с помощью конструктора, при необходимости скорректируйте, разместите текст на отдельной странице сайта и в форме приема данных поставьте ссылку на эту страницу.
        | Подробнее о № 152-ФЗ «О персональных данных» читайте в статье: «Как избежать штрафов за нарушения закона о персональных данных».
        | Для чего нужна политика обработки персональных данных на сайте?
        | Если на вашем сайте есть любая форма сбора данных — обратной связи, подписки на рассылку, регистрации или личный кабинет, это считается обработкой персональных данных. В этом случае вы обязаны получить согласие на обработку персональных данных и разместить ссылку на вашу политику в отношении обработки персональных данных, чтобы человек мог с ней ознакомиться, согласиться и только после этого сообщить вам свои данные.
        | Создайте образец документа с помощью конструктора, при необходимости скорректируйте, разместите текст на отдельной странице сайта и в форме приема данных поставьте ссылку на эту страницу.
        br
        br
        | Создайте образец документа с помощью конструктора, при необходимости скорректируйте, разместите текст на отдельной странице сайта и в форме приема данных поставьте ссылку на эту страницу.
        | Подробнее о № 152-ФЗ «О персональных данных» читайте в статье: «Как избежать штрафов за нарушения закона о персональных данных».
        | Для чего нужна политика обработки персональных данных на сайте?
        | Если на вашем сайте есть любая форма сбора данных — обратной связи, подписки на рассылку, регистрации или личный кабинет, это считается обработкой персональных данных. В этом случае вы обязаны получить согласие на обработку персональных данных и разместить ссылку на вашу политику в отношении обработки персональных данных, чтобы человек мог с ней ознакомиться, согласиться и только после этого сообщить вам свои данные.
        | Создайте образец документа с помощью конструктора, при необходимости скорректируйте, разместите текст на отдельной странице сайта и в форме приема данных поставьте ссылку на эту страницу.


