.our-services {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include below(lg) {
    gap: 18px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 26px;
    padding: 20px;
    background-color: #fff;

    @include below(lg) {
      gap: 20px;
    }

    @include below(md) {
      flex-wrap: wrap;
      gap: 14px 20px;
    }
  }

  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    min-width: 32px;
    height: 32px;
    border: 2px solid #04041C;
    position: relative;
    box-sizing: border-box;

    @include below(lg) {
      width: 28px;
      min-width: 28px;
      height: 28px;
    }

    &-checkmark {
      width: 11px;
      height: 18px;
      border-bottom: 2px solid #04041C;
      border-right: 2px solid #04041C;
      transform: translateY(-3px) rotate(45deg);
      box-sizing: border-box;

      @include below(lg) {
        width: 9px;
        height: 16px;
      }
    }
  }

  &__title {
    @include fontTTDrugs24;

    flex-grow: 1;

    @include below(lg) {
      @include fontTTDrugs20;

      line-height: 22px;
      max-width: 230px;
      width: 100%;
    }

    @include below(md) {
      @include fontTTDrugs18;

      line-height: 19.8px;
    }
  }

  &__description {
    @include fontMontserrat14;

    max-width: 455px;
    width: 100%;

    @include below(lg) {
      @include fontMontserrat13;

      line-height: 15.6px;
      max-width: 100%;
    }

    @include below(md) {
      @include fontMontserrat12;

      width: 100%;
      line-height: 14.4px;
    }
  }
}
