extends layouts/default
include helpers/mixins

block variables
    - const title = "gulp-pug-starter"

block content
    include ../blocks/components/banner/banner
    include ../blocks/modules/footer/footer

block scripts
    script(src="js/vendor.js")
    script(src="js/main.js")
