extends layouts/default
include ../blocks/components/components

block variables
    - const title = "gulp-pug-starter"

block content
    include ../blocks/modules/banner/banner
    include ../blocks/modules/services/services
    include ../blocks/modules/about/about
    include ../blocks/modules/people/people
    include ../blocks/modules/callback/callback
    include ../blocks/modules/footer/footer

block modals
    +modal('callback')
        +slot('body')
            +callbackForm()
    +modal('doctor')(class='open', style="display: flex")
        +slot('body')
            include ../blocks/modules/more-about-doctor/more-about-doctor


block scripts
    script(src="js/vendor.js")
    script(src="js/main.js")
