extends layouts/default
include ../blocks/components/components

block variables
    - const title = "gulp-pug-starter"

block content
    include ../blocks/modules/banner/banner
    include ../blocks/modules/services/services
    include ../blocks/modules/team/team
    include ../blocks/modules/footer/footer

block modals
    +modal('callback')
        +slot('body') callback
    +modal('doctor')
        +slot('body') doctor


block scripts
    script(src="js/vendor.js")
    script(src="js/main.js")
