-
    const services = [
        {
            title: 'Профессиональная гигиена полости рта',
            description: `Профессиональная гигиена полости рта - важный этап в поддержании здоровья зубов и десен.
            Мы проводим комплексную чистку зубов, удаление зубного налета и камня, обеспечивая свежесть полости рта
            и здоровье ваших зубов.`
        },
        {
            title: 'Индивидуальный план профилактики',
            description: `Мы разрабатываем индивидуальные планы профилактики, учитывая особенности вашего здоровья.
            Наша цель  —предотвратить развитие заболеваний и сохранить ваши зубы здоровыми на долгие годы.`
        },
        {
            title: 'Нехирургическое лечение десен',
            description: `Наша команда пародонтологов предлагает профессиональные и эстетические методы лечения десен.
            Восстановление функциональности зубного ряда и создание прекрасной улыбки становится доступным и
            эффективным благодаря использованию виниров и современных композитных материалов.`
        },
        {
            title: 'Герметизация Фиссур',
            description: `Наши специалисты проводят эту процедуру для предотвращения проникновения бактерий
            и развития кариеса в труднодоступных местах.`
        },
        {
            title: 'Профилактика кариеса',
            description: `Кариес - наиболее распространенное стоматологическое заболевание. Наша профилактика
            направлена на предотвращение этого процесса, начиная с эмали и заканчивая глубокими слоями дентина.`
        }
    ]

    const itemsWorks = [
        {
            title: 'Название услуги',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ',
            image: 'img/our-work.png'
        },
        {
            title: 'Название услуги',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ',
            image: 'img/our-work.png'
        },
        {
            title: 'Название услуги',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ',
            image: 'img/our-work.png'
        },
        {
            title: 'Название услуги',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ',
            image: 'img/our-work.png'
        }
    ]

    const prices = [
        {
            title: 'Профилактика',
            active: true,
            prices: [
                {
                    name: `Первичная гигиеническая чистка (Удаление налета, зубного камня, полирование и
                    фторирование эмали, подбор средств гигиены для домашнего ухода за полостью рта)`,
                    price: '2000 руб.'
                },
                {
                    name: 'Определение пародонтологического статуса',
                    price: '2000 руб.'
                },
                {
                    name: 'Определение пародонтологического статуса',
                    price: '2000 руб.'
                }
            ]
        }
    ]

section.service-competitons
    .service-competitons__container.container
        +title('Наши работы')(class='service-competitons__title')
        +slider(itemsWorks, 'vertical', null, 'our-work')

    .service-competitons__container.container
        +title('Наши услуги')(class='service-competitons__title')
        +ourServices(services)

    .service-competitons__container.container
        +title('Цены')(class='service-competitons__title')
        +prices(prices)

    .service-competitons__container.container
        +description(`Доверьте заботу о вашей улыбке опытным специалистам нашей клиники. Мы создали для вас уникальный
        опыт стоматологического обслуживания, где каждый этап - от диагностики до лечения - нацелен на ваш комфорт
        и безупречный результат.`, '', '/')
