-
    const servicesBreadcrumbs = [
        {
            name: 'Главная',
            link: '/'
        },
        {
            name: 'Услуги'
        },
        {
            name: 'Профилактика',
            active: true
        }
    ]

    const advantagesServices = [
        {
            title: 'Диагностика и планирование',
            description: 'Перед началом любого лечения мы проводим тщательную диагностику. Наша задача - предоставить вам всю необходимую информацию о состоянии вашего здоровья в доступной форме. Вы будете участвовать в обсуждении плана лечения вместе с нашими специалистами.',
            icon: 'img/svg/union.svg'
        },
        {
            title: 'Индивидуальный подход',
            description: 'Понимая, что каждый пациент уникален, мы предлагаем индивидуальные варианты лечения. Обсудив все "за" и "против", мы остановимся на том варианте, который соответствует вашим потребностям, вашему ценовому диапазону и ожиданиям.',
            icon: 'img/svg/human.svg'
        },
        {
            title: 'Гарантия результата',
            description: 'Мы гарантируем качество каждой процедуры, используя только современное оборудование и материалы премиум качества.',
            icon: 'img/svg/guard.svg'
        },
        {
            title: 'Прозрачность и доверие',
            description: 'Мы предоставляем честную информацию о процессе лечения, его стоимости и прогнозируемых результатах.',
            icon: 'img/svg/union.svg'
        }
    ]

section.service-banner
    .container
        .service-banner__header
            +breadcrumbs(servicesBreadcrumbs)
        .service-banner__body
            .service-banner__body-left
                .service-banner__title Забота о ваших зубах
                .service-banner__subtitle Профессиональная гигиена и профилактика
                +button('button', 'Записаться на прием', 'light', 'callback')(class='service-banner__button')
            .service-banner__body-right
                .service-banner__image
                    img(src='img/service-banner.png')
        +description('Доверьте заботу о вашей улыбке опытным специалистам нашей клиники. Мы создали для вас уникальный опыт стоматологического обслуживания, где каждый этап - от диагностики до лечения - нацелен на ваш комфорт и безупречный результат.')
        .service-banner__advantages
            +title('4 причины начать лечение в нашей клинике', null, 'light')(class='service-banner__advantages-title')
            .service-banner__advantages-wrapper
                +advantages(advantagesServices)
