.header {
  @include fontMontserrat15;
  $self: &;

  color: $dirtyWhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  background-color: transparent;

  @include below(lg) {
    position: fixed;
  }

  &.without_logo {
    #{$self}__logo {
      display: none;
    }

    #{$self}__button {
      display: none;
    }

    #{$self}__navigation {
      justify-content: center;
    }

    #{$self}__mobile {
      &::before {
        @include below(md) {
          opacity: 0;
        }
      }

      #{$self}__logo {
        @include below(md) {
          display: none;
        }
      }
    }

    &.header--fixed {
      #{$self}__mobile {
        &::before {
          @include below(md) {
            opacity: 1;
          }
        }
      }

      #{$self}__logo {
        @include below(md) {
          display: block;
        }
      }
    }
  }

  &__container {
    position: relative;

    &::before {
      @include above(lg) {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $deepBlack;
        opacity: 0.5;
      }
    }

    &--navigation {
      @include above(lg) {
        transition: height 200ms ease-in-out;
        background: rgba(5, 2, 42, 0.43);
        backdrop-filter: blur(3.3px);
      }

      &:before {
        @include above(lg) {
          z-index: -1;
          background-image: url('../img/header-bg.png');
          background-size: cover;
        }
      }
    }
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    z-index: 1;

    @include below(lg) {
      height: 71px;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 10px 80px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background-color: $white;
        height: 2px;
        width: calc(100% + 15px);
        top: 0;
        left: -15px;
      }
    }

    @include below(md) {
      height: auto;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    white-space: nowrap;

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    @include below(lg) {
      @include fontMontserrat14;
    }

    @include below(md) {
      @include fontMontserrat13;
    }

    &:not(:last-child):not(:first-child) {
      @include above(lg) {
        margin: 0 10px;
      }
    }

    &:last-child {
      @include above(lg) {
        margin-left: 10px;
      }
    }

    &:first-child {
      @include above(lg) {
        margin-right: 10px;
      }
    }
  }

  &__list-icon {
    margin-right: 9px;
    width: 20px;
    height: 20px;
    fill: $dirtyWhite;
  }

  &__navigation {
    @include fontMontserrat15;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
  }

  &__navigation-name {
    display: flex;
    align-items: center;
    z-index: 1;
  }

  &__navigation-list {
    display: flex;
    list-style: none;
    gap: 0 59px;
    padding: 5px 0;
  }

  &__navigation-item {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;

    @include below(lg) {
      flex-direction: column;
      align-items: flex-start;
    }

    #{$self}__navigation-name {
      &::after {
        display: none;
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $dirtyWhite;
        margin-left: 8px;
      }
    }

    &:hover {
      #{$self}__navigation-submenu {
        @include above(lg) {
          transform: translateY(0);
          opacity: 1;
          padding-bottom: 25px;
          overflow: visible;
          height: 106px;
        }
      }
      #{$self}__navigation-name {
        text-decoration: underline;

        &::after {
          @include above(lg) {
            transform: scale(1, -1);
          }
        }
      }
    }

    &--with-list {
      #{$self}__navigation-name {
        &::after {
          display: block;
        }
      }
    }
  }

  &__navigation-submenu {
    transform: translateY(-20px);
    opacity: 0;
    position: absolute;
    top: 0;
    height: 0;
    overflow: hidden;
    padding-bottom: 0;
    width: 100%;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    box-sizing: border-box;

    @include below(lg) {
      position: static;
      transform: none;
    }

    &:before {
      @include above(lg) {
        content: '';
        position: absolute;
        top: 40px;
        left: -50vw;
        height: 100%;
        width: 150vw;
      }
    }

    &.open {
      opacity: 1;
      height: auto;
      margin-bottom: -10px;
    }
  }

  &__navigation-submenu-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding-top: 58px;
    position: relative;
    list-style: none;
    color: $dirtyWhite;
    height: 100%;

    @include below(lg) {
      flex-wrap: nowrap;
      padding-top: 0;
      margin-left: 17px;
      margin-top: 8px;
      gap: 0;
    }

    @include below(md) {
      margin-left: 0;
    }
  }

  &__navigation-subname {
    @include fontMontserrat14;

    @include below(lg) {
      @include fontMontserrat16;
    }

    @include below(md) {
      @include fontMontserrat14;
    }
  }

  &__navigation-sublink {
    display: flex;

    @include below(lg) {
      padding: 10px 20px;
      min-width: 182px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &.open-modal {
    #{$self}__container {
      margin-right: 17px;
    }
  }

  &__logo {
    fill: $dirtyWhite;
    width: 177px;
    height: 30px;
  }

  &__button {
    @include fontMontserrat14;

    line-height: 14px;
    max-width: 222px;
  }

  &__hamburger {
    display: flex;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 19px;
    border: none;
    border-top: 3px solid $white;
    border-bottom: 3px solid $white;
    background: none;
    margin-left: auto;
    margin-bottom: 4.5px;
    margin-top: 4.5px;

    &::before {
      content: '';
      width: 100%;
      height: 3px;
      background-color: $white;
    }
  }

  &--fixed {
    @include above(lg) {
      animation: headerSlideDown 200ms;
      position: fixed;
      top: 0;
      right: 0;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

      #{$self}__container {
        display: none;
        border-bottom: 1.5px solid $blue;

        &--navigation {
          display: block;
          border-bottom: none;

          &::before {
            background-image: url('../img/header-bg.png');
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }

      #{$self}__list {
        color: $blue;
      }

      #{$self}__navigation {
        color: $deepBlack;
        justify-content: space-between !important;
        align-items: center;
      }

      #{$self}__navigation-list {
        gap: 0 59px;
        color: $dirtyWhite;
      }

      #{$self}__navigation-item {
        &--with-list {
          &::after {
            border-top-color: $dirtyWhite;
          }
        }
      }

      #{$self}__logo {
        z-index: 1;
        display: inline-flex !important;
        fill: $dirtyWhite;
      }

      #{$self}__button {
        z-index: 1;
        display: inline-flex !important;
      }

      #{$self}__list-icon {
        fill: $blue;
      }
    }
  }

  &__mobile-button {
    display: none;

    @include below(lg) {
      display: block;
      max-width: 268px;
      margin-top: 25px;
      margin-bottom: 60px;
    }

    @include below(md) {
      margin: 15px auto 60px;
    }
  }

  @keyframes headerSlideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  & &__desktop {
    @include below(lg) {
      display: none;
    }

    &.open {
      @include below(lg) {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100svh;
        overflow: auto;
        background-color: $deepBlack;
        padding: 60px 47px;
        box-sizing: border-box;
      }

      @include below(md) {
        padding: 62px 20px;
      }

      #{$self}__button {
        @include below(lg) {
          display: none;
        }
      }

      #{$self}__mobile-menu-wrapper {
        @include below(lg) {
          display: flex;
          flex-direction: column-reverse;
          justify-content: flex-end;
          width: 100%;
        }
      }
    }

    #{$self}__logo {
      @include below(lg) {
        display: none !important;
      }
    }

    #{$self}__navigation {
      @include below(lg) {
        justify-content: flex-start;
        padding-bottom: 42px;
      }
    }

    #{$self}__navigation-list {
      @include below(lg) {
        flex-direction: column;
        gap: 40px 0;
      }
    }

    #{$self}__close {
      z-index: 10;

      @include below(lg) {
        position: fixed;
        top: 40px;
        right: 50px;
        width: 23px;
        height: 23px;
        background-image: url('../img/svg/cross.svg');
        background-size: cover;
        cursor: pointer;
      }
    }

    #{$self}__navigation-name {
      @include below(lg) {
        @include fontMontserrat20;

        gap: 40px 0;
      }

      @include below(md) {
        @include fontMontserrat18;

        gap: 38px 0;
      }
    }
  }

  & &__mobile {
    box-sizing: border-box;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 28px 40px 26px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      width: 100%;
      height: 100%;
      background-image: url('../img/header-mobile-bg.png');
      transition: opacity 200ms;
      z-index: -1;
    }

    @include below(lg) {
      display: flex;
    }

    #{$self}__logo {
      display: block;

      @include below(lg) {
        height: 28px;
      }
    }
  }
}
