section.about-more
    .about-more__container.container
        +videoReview({
            title: 'Еще больше видео на нашем YouTube канале',
            buttonText: 'Перейти',
            buttonLink: '/',
            video: 'https://www.youtube.com/embed/Y7ZiD7jvv2o?si=bBG5_Xda59dLVcGk',
            view: 'blue'
        })
    .about-more__container.container
        +title('Команда опытных специалистов', null, 'light').about-more__title
        +slider([
            {
                title: 'Пырков<br> Сергей Трофимович',
                description: 'Стоматолог общей практики',
                image: 'img/doctor.png'
            },
            {
                title: 'Пырков<br> Сергей Трофимович',
                description: 'Стоматолог общей практики',
                image: 'img/doctor.png'
            },
            {
                title: 'Пырков<br> Сергей Трофимович',
                description: 'Стоматолог общей практики',
                image: 'img/doctor.png'
            },
            {
                title: 'Пырков<br> Сергей Трофимович',
                description: 'Стоматолог общей практики',
                image: 'img/doctor.png'
            }
        ])

