mixin modal(id, theme)
    - const slots = {};

    mixin slot(name)
        - slots[name] = block

    - block ? block() : undefined

    .modal(id=id, class=theme?`modal--${theme}`:'')&attributes(attributes)
        .modal__content
            .modal__close
            if slots['header']
                .modal__header
                    - slots['header']();
            if slots['body']
                .modal__body
                    - slots['body']();
            if slots['footer']
                .modal__footer
                    - slots['footer']();
        .modal__backdrop
