.breadcrumbs {
  $self: &;

  @include fontMontserrat15;

  display: flex;
  align-items: center;

  @include below(lg) {
    @include fontMontserrat13;
  }

  @include below(md) {
    @include fontMontserrat12;
  }

  &--light {
    #{$self}__item {
      color: $deepBlack;

      &:not(:first-child)::before {
        color: $deepBlack;
      }

      &.active {
        color: $blue;
      }
    }
  }

  &__item {
    color: $white;

    &:not(:first-child)::before {
      content: '/';
      padding: 0 5px;
      color: $white;
    }

    &.active {
      color: $lightblue;
    }
  }
}
