.advantages-services {
  margin-top: 110px;
  padding: 85px 0 80px;
  background-image: url('../img/advantages-bg.png');
  background-size: 100% 101%;
  background-position: center;
  background-repeat: no-repeat;

  &__price {
    margin-top: 88px;

    &-title {
      margin-left: 77px;
      margin-bottom: 40px;
    }
  }
}
