.our-work
    .our-work__header
        .our-work__title Название услуги
        .our-work__description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .our-work__wrapper
        .our-work__result.our-work__result--before
            .our-work__image
                img(src='img/our-work.png')
            .our-work__name До
        .our-work__result.our-work__result--after
            .our-work__image
                img(src='img/our-work.png')
            .our-work__name После
