.banner {
  height: 100vh;
  text-align: center;

  @include below(lg) {
    @media screen and (min-height: 726px){
      height: 726px;
    }
  }

  &__container {
    position: relative;
    height: calc(100% - 72px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'TT Drigs Trial', sans-serif;
    font-size: 46px;
    line-height: 46px;
    padding-top: 72px;
  }

  &__slider-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__slider {
    height: 100%;
  }

  &__slide {
    display: flex !important;
    height: 100%;
  }

  &__button {
    @include below(lg) {
      @include fontMontserrat14;

      max-width: 268px;
    }
  }

  &__slide-content {
    position: relative;
    margin-top: auto;
    margin-bottom: 36.5vh;
    z-index: 1;
    font-size: 46px;
    font-family: 'TT Drigs Trial', sans-serif;
    line-height: 46px;
    color: $dirtyWhite;
    max-width: 820px;

    @include below(lg) {
      margin-bottom: 41.5vh;

      @media screen and (min-height: 600px){
        margin-bottom: 290px;
      }
    }
  }

  &__slide-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__pagination {
    line-height: 0;

    .swiper-pagination-bullet {
      border-radius: 0;
      width: 8px;
      height: 8px;
      border: 1px solid #D9D9D9;
      box-sizing: border-box;
      opacity: 1;
      background: transparent;

      &-active {
        background: #D9D9D9;
      }
    }
  }

  &__title {
    @include fontTTDrugs46;

    @include below(lg) {
      @include fontTTDrugs38;

      line-height: 38px;
    }

    @include below(md) {
      @include fontTTDrugs28;

      line-height: 31px;
    }
  }

  &__subtitle {
    @include fontMontserrat24;

    margin-top: 24px;
    position: relative;

    @include below(lg) {
      @include fontMontserrat20;

      line-height: 20px;
    }

    @include below(md) {
      @include fontMontserrat16;

      line-height: 16px;
    }

    &--link {
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 1px;
        background-color: $dirtyWhite;
      }
    }
  }

  &__actions {
    z-index: 2;
    max-width: 620px;
    width: 100%;
    margin: auto auto 80px;

    @include below(lg) {
      margin-bottom: 60px;
      max-width: 566px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;

    @include below(lg) {
      margin-top: 32px;
    }

    @include below(md) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-top: 23px;
    }
  }

  &__logo {
    z-index: 2;
    max-width: 400px;
    width: 100%;
    height: 68px;
    fill: $dirtyWhite;
    margin-top: 180px;

    @include below(lg) {
      display: none;
    }

    @include below(md) {
      display: block;
      height: 42px;
      margin-top: 66px;
    }
  }
}
