section.banner
    include ../../modules/header/header
    .banner__container
        .banner__content.container
            svg.banner__content-logo
                use(href="img/sprites/sprite.svg#biodent-logo")
            .banner__content-actions
                .banner__pagination
                .banner__buttons
                    +button('a', 'О клинике', 'light')
                    +button('a', 'Запись на прием', 'transparent')
        .banner__slider-background
            .banner__slider.swiper
                .swiper-wrapper
                    .banner__slide.swiper-slide
                        .banner__slide-content.container
                            | Профессиональная Стоматология в Екатеринбурге:
                        img.banner__slide-image(src='https://wallpapers.com/images/featured/space-sjryfre8k8f6i3ge.jpg')
                    .banner__slide.swiper-slide
                        .banner__slide-content.container
                            | Профессиональная Стоматология в Екатеринбурге:
                        img.banner__slide-image(src='https://wallpapersmug.com/download/1920x1080/8d554d/celestial-world-digital-art-space-colorful.jpg')
                    .banner__slide.swiper-slide
                        .banner__slide-content.container
                            | Профессиональная Стоматология в Екатеринбурге:
                        img.banner__slide-image(src='https://getwallpapers.com/wallpaper/full/3/0/6/106810.jpg')
                    .banner__slide.swiper-slide
                        .banner__slide-content.container
                            | Профессиональная Стоматология в Екатеринбурге:
                        img.banner__slide-image(src='https://4kwallpapers.com/images/wallpapers/astronaut-black-hole-deep-space-universe-cosmos-surreal-1920x1080-6743.jpg')

