-
    const slides = [
        {
            title: 'Профессиональная стоматология в Екатеринбурге:',
            subtitle: 'Клиника Доктора Пыркова',
            image: 'img/banner-abstract.png'
        },
        {
            title: 'Комфорт и забота на каждом шагу',
            subtitle: 'Видео-обзор клиники',
            subtitleLink: '/',
            image: 'img/banner-doctor.png',
        }
    ]

section.banner
    include ../../modules/header/header
    .banner__container
        .banner__logo
            svg
                use(href="img/sprites/sprite.svg#biodent")
        .banner__actions
            .banner__pagination
            .banner__buttons
                +button('button', 'О клинике', 'light', 'callback')
                +button('a', 'Запись на прием', 'transparent')

        .banner__slider-background
            .banner__slider.swiper
                .swiper-wrapper
                    each slide in slides
                        .banner__slide.swiper-slide
                            .banner__slide-content.container
                                .banner__title= slide.title
                                if slide.subtitleLink
                                    a.banner__subtitle.banner__subtitle--link(href=slide.subtitleLink)= slide.subtitle
                                else
                                    .banner__subtitle= slide.subtitle
                            img.banner__slide-image(src=slide.image)
