-
    const slides = [
        {
            title: 'Профессиональная стоматология в Екатеринбурге:',
            subtitle: 'Клиника Доктора Пыркова',
            image: 'img/banner-abstract.png'
        },
        {
            title: 'Комфорт и забота на каждом шагу',
            subtitle: 'Видео-обзор клиники',
            subtitleLink: '/',
            image: 'img/banner-doctor.png',
        }
    ]

section.banner
    .banner__container
        .banner__logo
            svg
                use(href="img/sprites/sprite.svg#biodent")
        .banner__actions
            .banner__pagination
            .banner__buttons
                +button({
                    text: 'О клинике',
                    theme: 'light',
                    link: '/about.html',
                    tag: 'a'
                }).banner__button
                +button({
                    text: 'Запись на прием',
                    theme: 'transparent',
                    modal: 'callback',
                    tag: 'button'
                }).banner__button

        .banner__slider-background
            .banner__slider.swiper
                .swiper-wrapper
                    each slide in slides
                        .banner__slide.swiper-slide
                            .banner__slide-content.container
                                .banner__title= slide.title
                                if slide.subtitleLink
                                    a.banner__subtitle.banner__subtitle--link(href=slide.subtitleLink)= slide.subtitle
                                else
                                    .banner__subtitle= slide.subtitle
                            img.banner__slide-image(src=slide.image)
