section.description-services
    .container
        +description('Доверьте заботу о вашей улыбке опытным специалистам нашей клиники. Мы создали для вас уникальный опыт стоматологического обслуживания, где каждый этап - от диагностики до лечения - нацелен на ваш комфорт и безупречный результат.')
