body {
  background-color: $dirtyWhite;
  overflow-x: hidden;

  &.loading {
    * {
      transition: none !important;
    }
  }

  &.open-modal {
    overflow: hidden;
    padding-right: 17px;
  }
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

svg {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
